.doc-menu {
    display: none;
    box-sizing: border-box;
    border-right: var(--ace-border);
    overflow: auto;
    background: white;
    padding-bottom: 1em;
    min-width: 15rem;
    height: 100%;

    &.opened {
        display: block;
    }
    &.collapsed {
        position: absolute;
        z-index: var(--ace-z-index-layout);
        top: 0; left: 0;
    }
    .doc-menu-backdrop {
        position: fixed;
        z-index: var(--ace-z-index-layout);
        background: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .ace-menu {
        position: relative;
        z-index: calc(var(--ace-z-index-layout) + 10);
        box-shadow: none;
        border-radius: 0;
        border: 0;
        padding: 0;
        width: 100%;
    }
}