.doc-page {
    animation: ace-animation-slidein-top 0.5s ease, ace-animation-fadein 0.5s ease;
    max-width: 1000px;
    padding: 2rem;

    .doc-meta {
        margin-bottom: 2rem;
    }
    .doc-desc {
        margin: 2rem 0;
    }
    .doc-api {
        margin: 2rem 0;
    }
    .doc-examples {
        margin: 2rem 0;
    }
    .doc-example {
        margin: 1.5rem 0;
    }
    h2 {
        margin: 2rem 0;
    }
    h3 {
        margin: 1.5rem 0;
    }
}