@keyframes doc-animation-rotate-y {
    from { transform: rotateX(0deg); }
    to { transform: rotateX(360deg); }
}
.doc-page-welcome { 
    display: flex;
    flex-direction: column;
    gap: 3rem;

    header {
        h1 {
            color: var(--ace-color-gray-30);
            font-weight: 600;
            margin-bottom: 0;
        }
        h2 {
            color: var(--ace-color-gray-50);
            font-weight: 100;
            margin: 0 0 0.5rem 0;
        }
    }
    .ace-msg {
        font-size: 0.8rem;
        background: var(--ace-color-blue-70);
        color: white;
        border: 0;
    }
    h3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        animation: doc-animation-rotate-y 0.8s ease;
        margin: 0 0 0.5rem 0.5rem;
        font-size: 1.3rem;
        color: var(--ace-color-gray-50);
    }
}