.doc-page-colors {
    
    .base-colors {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
        grid-template-rows: auto;
        gap: 1rem;
    }  
    .color {
        display: flex;
        align-items: center;
        gap: 1rem;

        .color-square {
            flex-shrink: 0;
            width: 2.5em;
            height: 2.5em;
        }
        .color-info {
            .value {
                font-size: 0.8rem;
            }            
        }
    }
      
}