.doc-example-editor {
    position: relative;
    
    .header {
        position: absolute;
        top: 0; right: 0;
        font-size: 0.8rem;
        background: var(--ace-color-gray-80);
        color: white;
        padding: 5px;
        border-bottom-left-radius: 6px;
        min-width: 2rem;
        text-align: center;
    }
    
    textarea {
        display: block;
        width: 100%;
        min-height: 10em;
        box-sizing: border-box;
        resize: none;
        height: auto;
        
        font-family: var(--ace-font-family-code);
        font-size: var(--ace-font-size-s);
        line-height: normal;
        background: var(--ace-color-gray-99);
        color: var(--ace-color);
        border: 0;
        border-radius: 0;
        margin: 0;
            
        &:focus {
            background: var(--ace-color-cyan-99);
            box-shadow: none;
            outline: 0;
        }
    }
}