.doc-expander {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    cursor: pointer;
    user-select: none;
    
    .com-icon {
        margin-right: 0.5em;
        transition: all 0.15s linear;
    }
    
    &.open {
        .com-icon {
            transform: rotate(90deg);
        }
    }
}