@import "doc-api/doc-api.component";
@import "doc-desc/doc-desc.component";
@import "doc-directive/doc-directive.component";
@import "doc-event/doc-event.component";
@import "doc-events/doc-events.component";
@import "doc-example/doc-example.component";
@import "doc-examples/doc-examples.component";
@import "doc-expander/doc-expander.component";
@import "doc-function/doc-function.component";
@import "doc-functions/doc-functions.component";
@import "doc-header/doc-header.component";
@import "doc-link/doc-link.component";
@import "doc-main/doc-main.component";
@import "doc-menu/doc-menu.component";
@import "doc-meta/doc-meta.component";
@import "doc-page/doc-page.component";
@import "doc-param/doc-param.component";
@import "doc-params/doc-params.component";
@import "doc-service/doc-service.component";
@import "doc-slots/doc-slots.component";
@import "doc-tag/doc-tag.component";
@import "doc-value/doc-value.component";